html {
  height: 100%;
  width: 100%;
}

body
{background-color:#1c2333;
text-shadow: whitesmoke;}

body {
  font-family: 'Verdana', monospace;
}

li 
{list-style: none;}

.navbar
{
  display: flex;
}

.items{
  display: flex;
}

 .ppp {
   display: flex;
   text-decoration: none;
   font-weight: bold;
   color: black;
   border-bottom:2px solid transparent;
   transition: color 0.1s, border-bottom 0.1s
 }

.ppp:hover {
  border-bottom: 2px solid;
  border-bottom-color: black;
}

.menu-list-items
{
  margin-right: 40px;
  margin-left: 40px;
  
}

.pp{
  text-decoration: none;
}

.navbar {
 justify-content: center; 
}

header{
  text-align: center;
}

hr{
  height: 1px;
  border-color: black;
  background-color: black;
}

footer{
  text-align: center;
}

.content-section {
  border: 1px solid black;
  padding: 20px;
}

.pp {
  text-align: center;
}





