html {
  height: 100%;
  width: 100%;
}

body
{background-color : lightgray;}

body {
  font-family: 'Brush Script MT', cursive;
}

li 
{list-style: none;}

.navbar
{
  display: flex;
}

.items
 {
   display: flex;
   text-decoration: none;
 }

.menu-list-items
{
  margin: 69px;
}

.pp
{text-decoration: none;}

.navbar 
{justify-content: center; }

hr{
  height: 2px;
  border-color: black;
  background-color: black;
}

footer{
  text-align: center;
}


